<div class="container" ng-controller="HeaderController">
  <div class="navbar-header">
    <a ui-sref="home" class="navbar-brand">Mean-Scaffold</a>
  </div>
  <nav class="navbar-collapse" uib-collapse="!isCollapsed" role="navigation">
    <ul class="nav navbar-nav" ng-if="menu.shouldRender(authentication.user);">
      <li ng-repeat="item in menu.items | orderBy: 'position'" ng-if="item.shouldRender(authentication.user);" ng-switch="item.type" ng-class="{ active: $state.includes(item.state), dropdown: item.type === 'dropdown' }" class="{{item.class}}" uib-dropdown="item.type === 'dropdown'">
        <a ng-switch-when="dropdown" class="dropdown-toggle" uib-dropdown-toggle role="button">{{::item.title}}&nbsp;<span class="caret"></span></a>
        <ul ng-switch-when="dropdown" class="dropdown-menu">
          <li ng-repeat="subitem in item.items | orderBy: 'position'" ng-if="subitem.shouldRender(authentication.user);" ui-sref-active="active">
            <a ui-sref="{{subitem.state}}" ng-bind="subitem.title"></a>
          </li>
        </ul>
        <a ng-switch-default ui-sref="{{item.state}}" ng-bind="item.title"></a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right" ng-hide="authentication.isLogin()">
      <div class="navbar-form navbar-right">
        <div class="form-group">
          <input type="text" id="username" name="username" class="form-control" ng-model="credentials.username" placeholder="请输入用户名，只能是英文字母" lowercase required>
        </div>
        <div class="form-group">
          <input type="password" id="password" name="password" class="form-control" ng-model="credentials.password" placeholder="请输入密码" required>
        </div>
        <button uib-popover="用户名或者密码不对" popover-trigger="'none'" popover-placement="bottom" popover-is-open="isFailToLogin" type="button" class="btn btn-success" ng-click="signin()">登录</button>
        <button type="button" class="btn btn-link" ng-click="redirectToSignUpPage()">注册</button>
      </div>
    </ul>
    <ul class="nav navbar-nav navbar-right" ng-show="authentication.isLogin()">
      <li class="dropdown" uib-dropdown>
        <a class="dropdown-toggle user-header-dropdown-toggle" uib-dropdown-toggle role="button">
          <img ng-src="{{authentication.user.profileImageURL}}" alt="{{authentication.user.displayName}}" class="header-profile-image" />
          <span ng-bind="authentication.user.displayName"></span> <b class="caret"></b>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li ui-sref-active="active" ng-repeat="item in accountMenu.items">
            <a ui-sref="{{item.state}}" ng-bind="item.title"></a>
          </li>
          <li class="divider"></li>
          <li>
            <a href="/api/auth/signout" target="_self">Sign out</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</div>
