<section>
  <div class="page-header">
    <h1>User <span ng-bind="vm.user.username"></span></h1>
  </div>
  <div class="col-md-12">
    <form name="vm.userForm" ng-submit="vm.update(vm.userForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label for="realName">真实姓名</label>
          <input type="text" id="realName" name="realName" class="form-control" ng-model="vm.user.realName" placeholder="请输入您的真实姓名" required />
          <div ng-messages="vm.userForm.realName.$error" role="alert">
            <p class="help-block error-text" ng-message="required">真实姓名为必填项。</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="roles">用户角色</label>
          <div class="controls">
            <input class="form-control" type="text" name="roles" ng-model="vm.user.roles" id="roles" ng-list required />
            <div ng-messages="vm.userForm.roles.$error" role="alert">
              <p class="help-block error-text" ng-message="required">最少需要给用户选择一个角色。</p>
            </div>
          </div>
        </div>
        <div class="form-group">
          <input type="submit" value="更新用户信息" class="btn btn-default">
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
