<section class="row">
  <div class="col-xs-offset-1 col-xs-10 col-md-offset-4 col-md-4">
    <form name="vm.userForm" ng-submit="vm.updateUserProfile(vm.userForm.$valid)" class="signin" novalidate autocomplete="off">
      <fieldset>
        <div class="form-group" show-errors>
          <label for="realName">真实姓名</label>
          <input type="text" id="realName" name="realName" class="form-control" ng-model="vm.user.realName" placeholder="请输入您的真实姓名" required>
          <div ng-messages="vm.userForm.realName.$error" role="alert">
            <p class="help-block error-text" ng-message="required">真实姓名是必填项。</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="email">邮箱地址</label>
          <input type="email" id="email" name="email" class="form-control" ng-model="vm.user.email" placeholder="请输入您的邮箱地址" lowercase required>
          <div ng-messages="vm.userForm.email.$error" role="alert">
            <p class="help-block error-text" ng-message="required">邮箱地址为必填项。</p>
            <p class="help-block error-text" ng-message="email">邮箱地址不合法。</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="username">用户账号</label>
          <input type="text" id="username" name="username" class="form-control" ng-model="vm.user.username" placeholder="请输入用户账号" lowercase required>
          <div ng-messages="vm.userForm.username.$error" role="alert">
            <p class="help-block error-text" ng-message="required">用户登录账号为必填项。</p>
          </div>
        </div>
        <div class="text-center form-group">
          <button type="submit" class="btn btn-primary">保存用户信息</button>
        </div>
        <div ng-show="vm.success" class="text-center text-success">
          <strong>用户信息被成功保存！</strong>
        </div>
        <div ng-show="vm.error" class="text-center text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
